{% extends 'store/main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

    <h3>Item page</h3>

    <div class="box-element">

        <table class="table">
            <tbody>
                <tr>
                    <td><h4>Item name details</h4></td>
                    <td><a class="btn btn-outline-dark back-to-shop" href="{% url 'store' %}"><i data-feather="arrow-left"></i> Back to Shop</a></td>
                </tr>
            </tbody>
        </table>

        {% comment %} <div class="item-image">
            <img class="item-thumbnail" src="{% static 'img/square_blue.png' %}">
        </div> {% endcomment %}

        <div class="container gallery-container">
            <!--Full resolution images-->
            <div class="slides">
                <div class="corner-number">1 / 4</div>
                <img class="item-img" src="{% static 'img/placeholder_item.png' %}">
            </div>

            <div class="slides">
                <div class="corner-number">2 / 4</div>
                <img class="item-img" src="{% static 'img/placeholder_item.png' %}">
            </div>

            <div class="slides">
                <div class="corner-number">3 / 4</div>
                <img class="item-img" src="{% static 'img/placeholder_item.png' %}">
            </div>

            <div class="slides">
                <div class="corner-number">4 / 4</div>
                <img class="item-img" src="{% static 'img/placeholder_item.png' %}">
            </div>

            <a class="prev" onclick="plusSlides(-1)"><i data-feather="arrow-left-circle"></i></a>
            <a class="next" onclick="plusSlides(1)"><i data-feather="arrow-right-circle"></i></a>

            <div class="caption-container">
                <p class="image-caption">Image gallery</p>
            </div>

            <!--Miniatures-->
            <div class="row">
                <div class="gallery-column">
                    <img class="demo cursor item-mini" src="{% static 'img/placeholder_item.png' %}" onclick="currentSlide(1)" alt="Front">
                </div>

                <div class="gallery-column">
                    <img class="demo cursor item-mini" src="{% static 'img/placeholder_item.png' %}" onclick="currentSlide(2)" alt="Right angle">
                </div>

                <div class="gallery-column">
                    <img class="demo cursor item-mini" src="{% static 'img/placeholder_item.png' %}" onclick="currentSlide(3)" alt="Left angle">
                </div>

                <div class="gallery-column">
                    <img class="demo cursor item-mini" src="{% static 'img/placeholder_item.png' %}" onclick="currentSlide(4)" alt="Back">
                </div>
            </div>
        </div>

        <div class="item-table">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Variant</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Blue Square</td>
                        <td>Physical</td>
                        <td>20.00 zł</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button data-action="add" 
        class="btn btn-outline-secondary add-btn update-cart">
        <i data-feather="shopping-cart"></i> Add to Cart</button>
    </div>

    {% block script %}
        <script src="{% static "js/gallery_slideshow.js" type="text/javascript" %}"></script>
    {% endblock script %}

{% endblock %}