{% extends 'store/main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

    <h3>Store page</h3>

    <div class="row">
        {% for product in products %}
        <div class="col-md-6">
            <img class="item-thumbnail" src="{{ product.imageURL }}">
            <div class="box-element product">
                <h6>
                    <strong>{{ product.name }}</strong>
                    {% if product.digital == False %}
                        (physical)
                    {% else %}
                        (digital)
                    {% endif %}
                </h6>
                <hr>
                <button data-product={{ product.id }} data-action="add" 
                class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View Item</a>
                <h4 class="item-price">{{ product.price|floatformat:2 }} zł</h4>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}